/* RMIT University Vietnam
Course: COSC2430 Web Programming
Semester: 2023A
Assessment: Assignment 1
Author: Nguyen Thanh Quan
ID: s3979293
Acknowledgement: Acknowledge the resources that you use here. */

header img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

main img {
    width: 300px;
    height: 450px;
}

h1 {
    text-align: center;
    color: black;
}

header .navitem {
    margin: 20px;
    padding: 10px;
    background-color: #B83B5E;
    color: black;
    border-radius: 10%;
}

header {
    display: flex;
    justify-content: space-around;
    background-color: #F9ED69;
    padding: 5px;
}

.category {
    display: flex;
    justify-content: space-around;
    background-color: #F08A5D;
    margin-left: 50px;
    margin-right: 50px;
    border: solid #B83B5E;
    padding: 20px;
}

footer {
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    background-color: #F9ED69;
    height: auto;
}

header nav {
    margin-top: 20px;
}

footer .navitem {
    margin: 20px;
    color: black;
}

a {
    text-decoration: none;
}

a :hover {
    color: blue;
    text-decoration: underline;
}

h1:hover {
    color: blue;
    text-decoration: none;
}
nav.breadcrumb {
    padding: 10px 16px;
    font-size: 18px;
}

nav.breadcrumb a::after {
    padding: 8px;
    color: black;
    content: ">";
}

/* Add a color to all links inside the list */
nav.breadcrumb a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
nav.breadcrumb a:hover {
    color: #01447e;
    text-decoration: underline;
}

section div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.smallimage {
    width: 110px;
    height: 128px;
    padding: 10px;
}


.booksection1 {
    display: flex;
    justify-content: space-around;
    margin-left: 50px;
    margin-right: 50px;
    padding: 20px;
    background-color: #F08A5D;
    margin-bottom: 20px;
}

.booksection2 {
    margin-left: 50px;
    margin-right: 50px;
}

.notbold {
    font-weight: normal;
}

.price {
    font-size: 40px;
}

button {
    font-size: 30px;
    margin: 20px;
    border: solid #B83B5E;
    padding: 10px;
    background-color: #6A2C70;
    color: black;
    border-radius: 10%;
    width: 200px;
    height: 150px;
    margin-top: 100px;
}

.booksection2 strong {
    font-size: 50px;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    border: dotted;
    padding: 20px;
    background-color: #F08A5D;
}

fieldset {
    display: flex;
    flex-direction: column;
}

form button {
    background-color: #F08A5D;
    width: auto;
    height: auto;
    font-size: medium;
    margin-top: 20px;
}

fieldset div {
    padding: 20px;
}

@media only screen and (max-width:324px) {
    
}