/* RMIT University Vietnam
Course: COSC2430 Web Programming
Semester: 2023A
Assessment: Assignment 1
Author: Nguyen Thanh Quan
ID: s3979293
Acknowledgement: Acknowledge the resources that you use here. */

header img{
    /* display: inline-block;
    margin-left: 100px; */
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

main img{
    width: 300px;
    height: 450px;
}
/* #headeritem{
    display: flex;
    justify-content: space-around;
} */

h1{
    text-align: center;
    /* text-decoration: none; */
}

.center{
    display: flex;
    justify-content: center;
}

header .navitem{
    margin: 20px;
    border: solid #B83B5E;
    padding: 10px;
    background-color: #6A2C70;
    color: white;
    /* text-decoration: none; */
    border-radius: 10%;
}

header{
    display: flex;
    justify-content: space-around;
    background-color: #F9ED69;
}

.category{
    display: flex;
    justify-content: space-around;
    background-color: #B83B5E;
    margin-left: 50px;
    margin-right: 50px;
    border: solid #B83B5E;
    padding: 20px;
}

footer{
    display: flex;
    justify-content: flex-end;
    background-color: #F08A5D;
    height: auto;
}

header nav{
    margin-top: 20px;
}

footer .navitem{
    margin: 20px;
    /* text-decoration: none; */
}

a{
    text-decoration: none;
}